.sideMenu{
    position: fixed;
    height: 100%;
    overflow: auto;
}

.document{
    margin-left: 350px;
    font-family: var(--sapFontHeaderFamily);
}

.documentBody {
    width: 650px;
    max-width: 650px;
    padding-top: 20px;
}

.documentItem {
    max-height: 700px;
    max-width: 650px;
    width: 650px;
    padding-top: 20px;
}

ui5-shellbar::part(root){
    padding-left: .5rem;
}
