.sideMenu{
    position: fixed;
    height: 100%;
    overflow: auto;
}

.document{
    margin-left: 350px;
}

.documentItem{
    width: 750px;
    max-width: 750px;
    padding-top: 20px;
    max-height: 700px;
}

ui5-shellbar::part(root){
    padding-left: .5rem;
}